*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html    {
    scroll-behavior: smooth;
}


:root   {
    --primary-color: #616161;
    --secondary-color: #B1DFDE;
    --tertiary-color: #EDF0F0;
    --nav-color: #8F8F8F;
}

body    {
    color: var(--tertiary-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--tertiary-color);
    box-shadow: inset 0 0 20px var(--nav-color);
}

header  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 25px;
    top: 0;
}

header a    {
    text-decoration: none;
    color: var(--primary-color);
}

header nav  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 0 0 5px 0;
    width: 100%;
    padding-top: 50px;
}

header nav ul   {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 7px;
    width: 100%
}

header nav ul li    {
    padding: 15px;
}

header nav ul li a  {
    padding: 5px;
    text-decoration: none;
    font-size: 10.0vw;
}

.nav1   {
    text-align: left;
}

.nav2   {
    text-align: center;
}

.nav3   {
    text-align: right;
}

.logo   {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0 15px 0 15px;
}

.logo img{
    display: flex;
    width: 80%;
    border-bottom: 2px solid;
    border-color: var(--nav-color);
}

.about-me   {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding-top: 50px;
}


.bio    {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5px;
    padding-left: 5%;
    margin-left: 5%;
    border-left: 2px solid;
    border-color: var(--nav-color);
}

.bio-img    {
    width: 90%;
    display: flex;
    flex-wrap: wrap;

}

.bio-img img    {
    width: 100%;
}

.bio-text   {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 auto 0 auto;
    background-color: var(--primary-color);
}
