*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root   {
    --primary-color: #616161;
    --secondary-color: #B1DFDE;
    --tertiary-color: #EDF0F0;
    --nav-color: #8F8F8F;
}

body    {
    color: var(--tertiary-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header  {
    display: flex;
    flex-wrap: wrap;
    color: var(--tertiary-color);
    justify-content: space-between;
    background-color: var(--nav-color);
    top: 0;
    text-decoration: none;
}

header nav ul   {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 7px;
}

header nav ul li a  {
    padding: 5px;
    font-size: 5.0vw;
}